@page "/Account/medical-records"
@using HealthcareManager.Components.Account.Pages.DTO
@using HealthcareManager.Data.Repositories
@using Telerik.Blazor.Components
@using Telerik.Blazor
@using HealthcareManager.Data.ViewModels
@inherits OwningComponentBase

@inject NavigationManager NavigationManager
@inject SQLMedicalRecordsRepository MedicalRecordsRepository

<h3>Medical Records</h3>

@if (records == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TelerikGrid Data="@records" Pageable="true" Sortable="true" FilterMode="@GridFilterMode.FilterMenu">
        <GridToolBarTemplate>
            <TelerikButton OnClick="@Navigate" Icon="FontIcon.Plus">Add Record</TelerikButton>
        </GridToolBarTemplate>
        <GridColumns>
            <GridColumn Filterable="true" Sortable="true" Field="CreatedDate" Title="Create Date" />
            <GridColumn Filterable="true" Sortable="true" Field="FirstName" Title="First Name" />
            <GridColumn Filterable="true" Sortable="true" Field="LastName" Title="Last Name" />
            <GridColumn Filterable="true" Sortable="true" Field="Address" Title="Address" />
            <GridColumn Filterable="true" Sortable="true" Field="PostalCode" Title="Postal Code" />
            <GridColumn Filterable="true" Sortable="true" Field="BloodPressure" Title="Blood Pressure" />
            <GridColumn Filterable="true" Sortable="true" Field="HeartRate" Title="Heart Rate" />
            <GridColumn Filterable="true" Sortable="true" Field="Temperature" Title="Temperature" />
            <GridColumn Filterable="true" Sortable="true" Field="Height" Title="Height" />
            <GridColumn Filterable="true" Sortable="true" Field="Weight" Title="Weight" />
            <GridColumn Filterable="true" Sortable="true" Field="PulseOximetry" Title="Pulse Ox" />
        </GridColumns>
    </TelerikGrid>
}

@code {
    private List<UserFormDTO> records;

    protected override async Task OnInitializedAsync()
    {
        records = await MedicalRecordsRepository.GetAllRecordsAsync();
    }

    private void Navigate()
    {
        NavigationManager.NavigateTo("/Account/Register/Data");
    }
}
