@inherits LayoutComponentBase
@layout HealthcareManager.Components.Layout.MasterLayout
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

@if (HttpContextAccessor.HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    @Body
}

@code {
    protected override void OnParametersSet()
    {
        if (HttpContextAccessor.HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
